[Desktop Entry]
Encoding=UTF-8
Name=Lien vers CircleCI
Type=Link
URL=https://circleci.com/gh/rlembo06/covogreen
Icon=text-html
Name[fr_FR]=link-CircleCI-integration_continuous
