[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Automated code reviews & code analytics | Codacy
Type=Link
URL=https://www.codacy.com/
Icon=text-html
Name[fr_FR]=link-Codacy-quality_code
