<div>
    <h2>Mes trajets</h2>

    <div class="mat-elevation-z8">

        <div class="example-header">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>

        <mat-table #table [dataSource]="dataSource">

            <ng-container matColumnDef="id_journey">
                <mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id_journey}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="origin">
                <mat-header-cell *matHeaderCellDef> Départ </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.origin}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="destination">
                <mat-header-cell *matHeaderCellDef> Arrivé </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.destination}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="date_journey">
                <mat-header-cell *matHeaderCellDef> Date, Heure </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{getSchedule(element.date_journey)}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef> Statut </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{getStatus(element.is_driver)}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="access">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-raised-button color="accent"
                            (click)="redirect(element.id_journey)">Détails</button>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="cancel">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-raised-button color="accent">Annuler</button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
        <mat-paginator #paginator
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 20]"
                       [showFirstLastButtons]="true">
        </mat-paginator>

    </div>

</div>

<ngx-smart-modal #detailedCard identifier="detailedCard" customClass="detailedCard">
    <app-detailed-card></app-detailed-card>
</ngx-smart-modal>
