<div id="user">

    <section id="updateUser">
        <h2>Modifier son profil</h2>

        <form (ngSubmit)="updateUser()" [formGroup]="updateUserForm" class="form" role="form" #f="ngForm" novalidate>

            <div class="form-group">
                <input  id="username" name="username" formControlName="username"
                        placeholder="Username"
                        class="form-control form-control-sm"
                        type="text"
                        disabled>
            </div>

            <div class="form-group">
                <input  id="email" name="email" formControlName="email"
                        placeholder="Email"
                        class="form-control form-control-sm"
                        type="email"
                        required>
            </div>

            <div class="form-group">
                <input  id="firstName" name="firstName" formControlName="firstName"
                        placeholder="Prénom"
                        class="form-control form-control-sm"
                        type="text"
                        required>
            </div>

            <div class="form-group">
                <input  id="lastName" name="lastName" formControlName="lastName"
                        placeholder="Nom"
                        class="form-control form-control-sm"
                        type="text"
                        required>
            </div>

            <div class="form-group">
                <input id="phone" name="phone" formControlName="phone"
                       placeholder="Téléphone portable"
                       class="form-control form-control-sm"
                       type="tel"
                       required>
            </div>

            <div class="form-group">
                <input  id="city" name="city" formControlName="city"
                        placeholder="Ville"
                        class="form-control form-control-sm"
                        type="text"
                        required>
            </div>

            <div class="form-group">
                <input  id="address" name="address" formControlName="address"
                        placeholder="Adresse"
                        class="form-control form-control-sm"
                        type="text"
                        required>
            </div>

            <div class="form-group">
                <input  id="cp" name="cp" formControlName="cp"
                        placeholder="Code Postal"
                        class="form-control form-control-sm"
                        type="text"
                        required>
            </div>

            <div class="form-group">
                <label>Conducteur ?*</label>

                <mat-radio-group formControlName="is_driver"
                                 (change)="changeIsDriver($event)"
                                 required>
                    <mat-radio-button value="true">Oui</mat-radio-button>
                    <mat-radio-button value="false">Non</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="form-group" *ngIf="is_driver">
                <label>Etes-vous véhiculé ?</label>

                <mat-radio-group formControlName="have_car"
                                 (change)="changeHaveCar($event)">
                    <mat-radio-button value="true">Oui</mat-radio-button>
                    <mat-radio-button value="false">Non</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="form-group">
                <button type="submit" [disabled]="updateUserForm.invalid" class="btn btn-primary btn-block">Modifier</button>
            </div>
        </form>

    </section><hr>

    <section id="updatePassword">
        <h2>Modifier son mot de passe</h2>

        <form (ngSubmit)="updatePassword()" [formGroup]="updatePasswordForm" class="form" role="form" #f="ngForm" novalidate>
            <div class="form-group">
                <input  id="password" name="password" formControlName="password"
                        placeholder="Mot de passe actuel"
                        class="form-control form-control-sm"
                        type="password"
                        required>
            </div>

            <div class="form-group">
                <input  id="newPassword" name="newPassword" formControlName="new_password"
                        placeholder="Nouveau Mot de passe"
                        class="form-control form-control-sm"
                        type="password"
                        required>
            </div>

            <div class="form-group">
                <button type="submit" [disabled]="updatePasswordForm.invalid" class="btn btn-primary btn-block">Modifier</button>
            </div>
        </form>
    </section><hr>

    <section id="updateOrCreateCar" *ngIf="have_car && is_driver">
        <h2>Modifier ou ajouter sa voiture</h2>

        <div id="deleteCar" class="form-group" *ngIf="checkCar()">
            <form (ngSubmit)="deleteCar()" class="form" role="form" #f="ngForm" novalidate>
                <button type="submit" mat-raised-button color="warn">Supprimer la voiture</button>
            </form>
        </div>

        <form (ngSubmit)="updateOrCreateCar()" [formGroup]="updateOrCreateCarForm" class="form" role="form" #f="ngForm" novalidate>

            <div class="form-group">
                <input  id="licencePlateCreate" name="licencePlate" formControlName="licencePlate"
                        placeholder="Plaque d'immatriculation"
                        class="form-control form-control-sm"
                        type="text">
            </div>

            <div class="form-group">
                <input  id="makeCreate" name="make" formControlName="make"
                        placeholder="Marque"
                        class="form-control form-control-sm"
                        type="text">
            </div>

            <div class="form-group">
                <input  id="modelCreate" name="model" formControlName="model"
                        placeholder="Model"
                        class="form-control form-control-sm"
                        type="text">
            </div>

            <div class="form-group">
                <label>Capacité de la voiture</label>
                <mat-slider min="1" max="5" step="1" thumbLabel
                            id="capacityCreate" name="capacity" formControlName="capacity">
                </mat-slider>
            </div>

            <div class="form-group">
                <button type="submit" [disabled]="updateOrCreateCarForm.invalid" class="btn btn-primary btn-block">Modifier/Créer</button>
            </div>

        </form>
    </section><hr>

    <section id="deleteUser">
        <h2>Supprimer son profil</h2>

        <div class="form-group">
            <form (ngSubmit)="deleteUser()" class="form" role="form" #f="ngForm" novalidate>
                <button type="submit"
                        mat-raised-button
                        color="warn">Supprimer le profil
                </button>
            </form>
        </div>

    </section><hr>

</div>
